.carousel-item {
  height: 100%;
}
.justificado {
  text-align: justify;
}
.pelis {
}

.tm {
  height: 20rem;
  width: auto;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tmc {
  height: 30rem;
  width: auto;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tm:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #15242997;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.fondoform {
  height: 45rem;
  background-image: url("../img_fondo/Movie-Director-Vector-Illustration.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
